@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

/* Presets */

:root {
    --bg-color: white;
    --accent-color: #7a68df; /* Accent color for the button */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: "Vazirmatn", sans-serif;
}

.title {
    font-size: 24px;
    color: #4285f4;
    margin-bottom: 10px;
    font-family: "Noto Nastaliq Urdu", sans-serif;
}
    
section {
    height: 93vh;
}

.subtitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 16px;
    color: #666;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.473);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-left: 10px;
}

.navbar li:last-child {
    margin-left: 0;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 800;
    padding: 10px 15px;
    display: block;
    border-bottom: 5px transparent;
    transition: 0.2s;
}

.navbar a:hover {
    color: var(--accent-color);
    border-bottom: 5px solid var(--accent-color);
}

.logo {
    margin-right: 20px;
}

.logo h2 {
    font-size: 2rem;
    color: black;
    margin: 0;
}

.contact {
    background-color: var(--accent-color);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.contact:hover {
    background-color: #5f4fcf;
}

/* Home Section */

#banner {
    display: flex;
    justify-content: center;
    height: 83vh;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 80%;
}
.banner-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bnrcolor {
    width: 150px;
    height: 300px;
    position: relative;
    z-index: 1;
}
.bnrimg {
    width: 150px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.banner-item:first-child .bnrcolor {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.banner-item:last-child .bnrcolor {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* Make the middle child bigger and centered */
.banner-item:nth-child(3) .bnrcolor,
.banner-item:nth-child(3) .bnrimg {
    width: 200px;
    height: 350px;
    margin: 0 auto;
    border-radius: 15px;
}
.banner-item:nth-child(2) .bnrcolor,
.banner-item:nth-child(2) .bnrimg,
.banner-item:nth-child(4) .bnrcolor,
.banner-item:nth-child(4) .bnrimg {
    width: 130px;
    height: 270px;
    margin: 0 auto;
}
.bnrcolor1 { background-color: #f1c40f; }
.bnrcolor2 { background-color: #e74c3c; }
.bnrcolor3 { background-color: #8e44ad; }
.bnrcolor4 { background-color: #3498db; }
.bnrcolor5 { background-color: #2ecc71; }

.scrolldown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -50px;
    height: 10vh;
    text-align: center;
}

.scrolldown h3, .scrolldown i {
    margin: 0;
}

/* About Section */

#About {
    text-align: right;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-right {
    flex: 1;
    padding: 20px;
}

.about-right p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
}
  
.feature-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
  
.feature-item i {
    font-size: 28px;
    margin-right: 15px;
    color: #4285f4;
}
  
.feature-item span {
    color: #333;
}
  

.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container {
    position: relative;
    width: 300px;
    height: 400px;
}

.about-img {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img1 {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.img2 {
    top: 20%;
    left: 20%;
    width: 80%;
    height: auto;
}

.img3 {
    top: 40%;
    left: 40%;
    width: 60%;
    height: auto;
}

/* Classes Section */
#classes {
    text-align: center;
    padding: 40px 20px;
}

.classes-grids {
    display: grid;
    grid-template-columns: repeat(6, 0.8fr); /* Narrower columns */
    grid-template-rows: repeat(2, 150px); /* Keeping the row height smaller */
    grid-gap: 10px;
    padding: 50px 10px;
}

.class-grid {
    background-color: #4285f4;
    color: #fff;
    padding: 20px;
    position: relative;
    display: flex; /* Use flexbox for vertical and horizontal alignment */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: left; /* Ensure text is centered */
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.class-grid:hover {
    background-color: #609dff;
}

.class-grid h3, .class-grid h2 {
    margin: 0;
    pointer-events: none;
    padding: 10px 10px;
}

.class-grid a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: inherit;
}

.class-grid img {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.grid1 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid2, .grid3 {
    grid-column: span 2;
    grid-row: span 1;
}

.grid4, .grid5, .grid6, .grid7 {
    grid-column: span 1;
    grid-row: span 1;
}

/* Professions Section */

#professions {
    text-align: center;
    padding: 40px 20px;
}

.masters-grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.master-grid {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
}

.master-grid img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.mastername {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 60px;
    margin: 10px 0 5px;
    position: relative;
}

.master-grid span {
    display: block;
    font-size: 14px;
    color: #666;
    text-align: left;
    padding-left: 60px;
    margin-bottom: 15px;
}

.line {
    position: absolute;
    left: 20px;
    top: 10px;
    bottom: 15px;
    width: 2px;
    background-color: #4A90E2;
}

.master-content {
    position: relative;
    padding: 20px;
}

/* Video Section */

#video {
    height: 80vh;
    background-image: url(assets/images/video-template.png);
    background-size: cover;
}

/* Events Section */

#events {
    text-align: center;
    padding: 40px 20px;
}

.events-imgs {
    display: flex;
}
  
.events-imgs .img1, .events-imgs .img2 {
    flex: 1;
    width: 300px;
    height: 200px;
}
  
.events-imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Teachers Section */

#teachers {
    text-align: left;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teachers-left {
    flex: 1;
    padding: 20px;
    position: relative;
    align-items: left;
}

.teachers-left p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.teachers-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 400px;
}

.teacher-img {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teacher-list {
    list-style-type: none;
    padding-left: 0;
    direction: ltr;
}
  
.teacher-list li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
}
  
.teacher-list li::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #0099FF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

/* Updates Section */

#updates {
    text-align: center;
    padding: 40px 20px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  gap: 20px;
  margin-top: 30px;
}

.blog-post {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
}

.image-wrapper {
  position: relative;
}

.blog-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

.blog-title {
  font-size: 20px;
  margin: 15px 0 10px;
  color: #333;
}

.blog-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.read-more {
  font-size: 16px;
  color: #007BFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
}

.read-more i {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .blogs {
    grid-template-columns: 1fr;
  }
}

/* Impressions Section */

#impressions {
    padding: 40px 20px;
    text-align: center;
  }
  
.comments-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}
  
.comment-box {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
  
.quote-icon {
    font-size: 50px;
    color: #007BFF;
    position: absolute;
    top: 20px;
    left: 20px;
}
  
.comment-text {
    margin-top: 40px;
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}
  
.author-details {
    margin-top: 20px;
    text-align: right;
}
  
.author-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
  
.author-role {
    font-size: 14px;
    color: #777;
}

/* Contact Section */

#contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 50px;
}
  
.contact-left {
    max-width: 45%;
}
  
.contact-right {
    max-width: 50%;
}
  
.contact-form {
    display: flex;
    flex-direction: column;
}
  
.input-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
  
.input-row input {
    width: 48%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
  
#contact textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    height: 150px;
    resize: none;
}
  
.btn-submit {
    background-color: var(--accent-color);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
  
.btn-submit:hover {
    background-color: #574aa1;
}

/* Footer Section */

#footer {
    background-color: #333;
    color: #ccc;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 40px;
    direction: ltr;
}

#footer div {
    flex: 1;
    margin: 10px;
}

.footer-section {
    margin-bottom: 30px;
}

.footer-section h3 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section p, .footer-section a {
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
}

.opening-hours, .shortcut-links {
    line-height: 1.8;
}

.map {
    width: 300px;
    height: 200px;
    background-color: #666;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map img {
    max-width: 100%;
    height: auto;
}

.contact-info {
    line-height: 1.8;
}

.contact-info a {
    display: block;
    color: #ccc;
    text-decoration: none;
}

/* CopyRight Section */

#copyright {
    height: 3vh;
    text-align: center;
}

.copyright {
    font-size: 20px;
    color: #666;
}